.container {
  display: inline-block;
  width: 100%;
  margin: 1%;
  border: 1px solid #343434;
  padding: 7px;
  vertical-align: "top";
  margin-top: 40px;
}

.container:hover {
  cursor: pointer;
  box-shadow: 0px 8px 20px rgba(91, 45, 51, 0.3);
  border: 1px solid white;
}

.containerText {
  display: inline-block;
  width: calc(100% - 125px);
  vertical-align: top;
  text-align: start;
}

.thumbnail {
  width: 75px;
  height: 75px;
  overflow: hidden;
  border-radius: 100%;
  display: inline-block;
  margin: 10px;
  vertical-align: middle;
}

.title {
  margin: 0px 15px 10px;
  font-size: 20px;
  border-bottom: 1px solid white;
  display: inline-block;
  vertical-align: top;
}

.desc {
  display: inline-block;
  margin: 0px 15px 10px;
  font-size: 14px;
  line-height: 14px;
  font-style: italic;
  text-align: left;
  text-indent: 10px;
}

/* Detailed Highlight View */

.detailContainer {
  background: rgba(255, 255, 255, 0.95);
  left: 10%;
  top: 10%;
  width: 80%;
  padding: 20px;
  height: 80vh;
  overflow-y: scroll;
  position: fixed;
  backdrop-filter: blur(3px);
}

.detailImage {
  width: 100%;
  max-width: 500px;
}

.detailTitle {
  font-size: 30px;
}

.detailTitle,
.detailText {
  color: black;
  text-align: center;
}

.detailClose {
  position: absolute;
  top: 20px;
  right: 10px;
  color: black;
  font-size: 45px;
}

.detailClose:hover {
  cursor: pointer;
  background-color: rgba(130, 130, 130, 0.7);
  border-radius: 100%;
}

.slideshowContainer {
  position: relative;
}

.arrowContainer {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.slideshowLeft,
.slideshowRight {
  display: inline-block;
  font-size: 28px;
  background-color: rgba(195, 195, 195, 0.6);
  color: black;
  border-radius: 13px;
  padding: 7px;
}

.slideshowLeft:hover,
.slideshowRight:hover {
  background-color: rgba(130, 130, 130, 0.7);
  cursor: pointer;
}
