.menu {
  position: fixed;
  right: 0px;
  top: 0px;
  background-color: transparent;
  border: none;
  color: #b5c2c4;
  font-size: 1.25rem;
  border-radius: 100%;
  font-variant-caps: petite-caps;
}

.menuIcon {
  margin-bottom: 0px;
  background-color: white;
  border-radius: 100%;
  margin-top: 3px;
}

.menuIcon:hover {
  cursor: pointer;
  background-color: #b5c2c4;
  color: rgba(91, 45, 51);
}

.menuItems {
  position: fixed;
  background-color: #b5c2c4;
  top: 0;
  right: -30%;
  height: 100vh;
  width: 30%;
  min-width: 200px;
  border: 2px solid rgba(91, 45, 51);
  border-right: none;
  z-index: 100;
  transition: all 200ms linear;
}

.menuItemsActive {
  position: fixed;
  background-color: #b5c2c4;
  top: 0;
  height: 100vh;
  width: 30%;
  min-width: 200px;
  border: 2px solid rgba(91, 45, 51);
  border-right: none;
  z-index: 100;
  transition: all 200ms linear;
  right: 0% !important;
}

.menuLink {
  display: block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  color: rgba(91, 45, 51);
  font-variant-caps: petite-caps;
}

.menuLink:hover {
  background-color: rgba(91, 45, 51);
  color: #b5c2c4;
  cursor: pointer;
}

.menuTitle {
  color: rgba(91, 45, 51);
  text-align: center;
  margin: 10px;
  border-bottom: 1px solid rgba(91, 45, 51);
  font-variant-caps: petite-caps;
}

.menuClose {
  color: rgba(91, 45, 51);
  position: absolute;
  top: 5px;
  right: 5px;
  background: transparent;
  border: none;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid rgba(91, 45, 51);
  border-radius: 100%;
  width: 40px;
  height: 40px;
}

.menuClose:hover {
  cursor: pointer;
  background: #99a4a6;
}

@media only screen and (max-width: 667px) {
  .menuItems {
    right: -200px;
  }
}

@media only screen and (max-width: 500px) {
  .menu {
    bottom: initial;
    padding: 8px;
  }

  .menuIcon {
    height: 36px;
    width: 36px;
    right: 5px;
    top: 5px;
    margin-top: 0px;
  }
}
