.header {
  text-align: center;
  font-size: 1.7rem;
  margin: 0px;
}

.subheader {
  text-align: center;
  font-style: italic;
  margin-bottom: 50px;
  color: #afb9bb;
}

.contactUs {
  display: block;
  margin: 100px auto;
  padding: 5px 20px;
  border: 2px solid #fe5f55;
  background: none;
  color: #fe5f55;
  transition: background-color 100ms linear;
  width: 250px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.contactUs:hover {
  cursor: pointer;
  background-color: #5c2d33;
}
