.socialMediaImage {
  margin-bottom: 20px;
}

.newSection {
  border-top: 1px solid;
  margin-top: 44px;
  font-size: 20px;
  padding-top: 10px;
}

.centerSection {
  text-align: center;
  margin-top: 40px;
}

.centerSection h3 {
  color: #658faa;
}

.socialMediaLinksContainer {
  width: 100%;
text-align: center;
  margin-top: 40px;
}

.socialMediaLink .socialMediaLinkImage {
  box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.36);
}

.socialMediaLink .socialMediaLinkImage:hover {
  box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.6);
}

.socialMediaLinkImage {
  width: 25%;
  max-width: 100px;
  margin: 7%;
  border-radius: 25px;
}
