.featuresWrapper {
  max-width: 700px;
  margin: auto;
}

.featureContainer {
  margin: 30px auto;
  padding: 10px;
  border-bottom: 1px solid rgb(181, 194, 196);
}

.iconWrapper {
  display: inline-block;
  width: 25%;
  min-width: 100px;
}

.descWrapper {
  display: inline-block;
  width: 75%;
  vertical-align: top;
}

.featureIcon {
  margin: 5px;
  display: inline-block;
  width: 90px;
  height: 90px;
  padding: 10px;
  background-color: white;
  border-radius: 100%;
}

.iconBorder {
  width: 100px;
  height: 100px;
  margin: 0px;
  background: linear-gradient(to top right, #0027ab, #229191 40%, white 80%);
  border-radius: 100%;
}

.featureTitle {
  margin: 0px 0px 15px;
  display: inline-block;
  font-size: 22px;
}

.featureDesc {
  margin: 0px;
  font-size: 16px;
  line-height: 18px;
  color: #86a9bb;
}

@media only screen and (max-width: 500px) {
  .descWrapper {
    width: 100%;
  }
}
